# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
# if you build static files with collectstatic, ignore output dir
/static/

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing / coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml