# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
# if you build static files with collectstatic, ignore output dir
/static/

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing / coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml



# Python scripts
convert_sqlite_to_sqlserver.py
generate_db_schema.py
inspect_sqlite_schema.py

# SQL files
db_schema.sql
db_schema_full.sql
db_schema_sqlserver.sql

# Utility file
interactions/utils.py