{% extends 'base.html' %}
{% block title %}Upload Lesson - E-Learning Platform{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Upload Lesson</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Upload Lesson</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
